.main {
  background-color: rgba(64, 90, 166, 0.8);
  border-radius: 20px;
}
.main > h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}
.main__tasklist {
  height: 400px;
  overflow: scroll;
  color: white;
}
.main__tasklist > small {
  text-align: center;
  color: lightgray;
  font-weight: 600;
}
.main__tasklist__head {
  background-color: rgba(4, 25, 85, 0.8);
  /* width: 90%; */
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
.main__tasklist__head > input {
  padding-left: 10px;
}
.completed {
  color: red;
  text-decoration: line-through;
}
